{% extends 'base.html.twig' %}

{% block title %}Ordering System{% endblock %}

{% block body %}
    {% include 'navbar.html.twig' %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12 mt-2 text-center">
                <p>

                </p>
            </div>
        </div>
    </div>


    <footer class="fixed-bottom page-footer font-small teal pt-1 bg-light ">
        <div class="col-sm-12 text-center">
            <p>Ordering System</p>
        </div>
        <div class="footer-copyright text-center py-1">
            © 2021 Copyright: <a href=""></a>
        </div>
    </footer>

{% endblock %}